<%- include('../../partials/head.ejs') %>

<body>
  <%- include('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h2>Usuários de Colaboradores</h2>
    <a class="btn btn-success" href="/admin/colaborador/new">Criar Usuário</a>
    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(category=>{ %>
        <tr>
          <th><%- category.id %></th>
          <th><%- category.title %></th>
          <th>
            <a
              href="/admin/colaborador/edit/<%= category.id %>"
              class="btn btn-warning"
            >
              Editar
            </a>
            <form
              action="/categories/delete"
              method="POST"
              style="display: inline"
              onsubmit="confirmDelete(event,this)"
            >
              <input type="hidden" name="id" value="<%- category.id %>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </th>
          <% }) %>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<%- include('../../partials/footer.ejs') %>

<script>
  function confirmDelete(event, form) {
    event.preventDefault();
    let decision = confirm('Você realmente quer deletar esse usuário?');
    if (decision) {
      form.submit();
    }
  }
</script>
